<html>
<head>
	<title></title>
	<style type="text/css">
	
	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".pub_info").hide();

			$("button").click(function(event){
				id_name = $(this).attr("id");
				if(id_name[0]=='v')
				{
					// video_code = id_name.slice(1);
					var st_index_start = id_name.indexOf("+");
					var st_index_end = id_name.indexOf("_");
					var start_time = id_name.substring(st_index_start+1,st_index_end);
					var last_index = id_name.length
					var video_code = id_name.substring(st_index_end+1,last_index)
					$("#video").html("<iframe id='ytplayer' type='text/html' width='640' height='390' src=http://www.youtube.com/embed/"+video_code+"?autoplay=1&start="+start_time+"></iframe>");
					return false;
				}

				if(id_name[0]=='b')
				{
					var pub_index_start = id_name.indexOf("_");
					var pub_index_end = id_name.indexOf("+");
					var id = id_name.substring(pub_index_start+1, pub_index_end);
					var open_div = "pub"+id
					$("#"+open_div).toggle();
					return false;
				}
			})
			$('form').submit(function(){
			$.post($(this).attr('action'),$(this).serialize(),function(data){
				// Hide the form div
					$("#pub"+data.collection_id).hide();
				// Change the button
				$("#pbutton"+data.collection_id).html("<a href='/tags/unshare/"+data.collection_id+"' class='btn btn-link'>UnShare</a>");
			},"json");
			return false;
		})
	})
		
	</script>
</head>
<body>
	<div id='upper_nav'>
		<h1>All Collections</h1>
		<a href="/homes/index" id='back'>Home</a>
	</div>
	
	<div id='collection_type'>
		<p>Your Collections</p>
		<a href="/saves/all">Subscribed Collections</a>
	</div>
	<div id='video_section'>
		<div id='video'></div>
	</div>
	<div id='all_collections'>
		<%@collections.each do |collection| %>
			<div class='collection'>
				<div class='upper_options' id="uo_<%=collection.id %>">
					<h4><a href="/notes/new/<%=collection.id %>" class='title'><%= collection.name%></a></h4>

					<div id="pbutton<%=collection.id%>" class='pbutton'>
						<!-- Unpublish and Publish Button -->
						<%if collection.share==true %>
							<a href="/tags/unshare/<%=collection.id%>" class='btn btn-link'>UnShare</a>
						<% else%>
							<button  id="b_<%=collection.id %>+" class='btn btn-link'>Publish</button>
						<%end %>
					</div>
					<a href="/collections/destroy/<%=collection.id %>" class='delete'>Delete</a>
				</div>
				<div id="pub<%=collection.id %>" class='pub_info'>
					<form action='/tags/share' method='post'>
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type='text' name='tag[tag_name]' placeholder='Enter Tags: #hello #nike' class='tag_input'>
						<input type='hidden' name='tag[collection_id]' value=<%= collection.id%>>
						<input type='submit' value='Publish'>
					</form>
				</div>
				<div class='notes'>
					<% @notes.each do |note|%>
						<%if note.collection_id == collection.id %>
							<div class='jot'>
								<div class='jot_info'>
									<p class='time'>Time: <%=note.time_stamp_h%>H <%=note.time_stamp_m%> M <%= note.time_stamp_s%> S</p>
									<a href="/notes/retrieve/<%=note.id %>">Edit</a>
									<button id='v+<%=note.start_time%>_<%=note.url %>' class='btn btn-link'>Play</button>
								</div>
								<p class='note_content'><%=note.notes %></p>
							</div>	

						<% end%>
					<%end %>
				</div>
			</div>

		<%end %>
	</div>
</body>
</html>