<html>
<head>
	<title>SignUp or Login</title>
	<style type="text/css">
	
	</style>
</head>
<body>
	<div class='upper_nav'>
		<a href="/sessions/home" id='home' class="btn btn-success">Home</a>
		<h1>JOT</h1>
	</div>
	
	<% if flash[:su_message]%>
		<%flash[:su_message].each do |f| %>
			<p class='error_messages'><%=f%></p>
		<% end%>
	<%end %>
	<% if flash[:login_message]%>
			<p class='error_messages'><%=flash[:login_message]%></p>
	<%end %>
	<% if flash[:message]%>
			<p class='error_messages'><%=flash[:message]%></p>
	<%end %>
	<div id='sign_up'>
		<h3>Sign Up</h3>
		<form action='/sessions/sign_up' method='post'>
			<div id='sign_up_input'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type='input' name='user[user_name]' placeholder='Enter User Name'>
				<input type='input' name='user[first_name]' placeholder='Enter First Name'>
				<input type='input' name='user[last_name]' placeholder='Enter Last Name'>
				<input type='input' name='user[email]' placeholder='Enter Email'>
				<input type='password' name='user[password]' placeholder='Enter Password'>
			</div>
			<input type='submit' value='Submit' class='btn btn-info'>
 		</form>
	</div>
	<div id='login'>
		<h3>Login</h3>
		<form action='/sessions/sign_in' method='post'>
			<div id='log_in_input'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type='input' name='user[email]' placeholder='Enter Email'>
				<input type='password' name='user[password]' placeholder='Enter Password'>
			</div>
			<input type='submit' value='Submit' class='btn btn-info'>
		</form>
	</div>
</body>
</html>