<html>
<head>
	<title>Groups</title>

	<style type="text/css">
		.group{
			width:250px;
			height:250px;
			border:1px solid #D8D8D8;
			display:inline-block;
			margin:6px;
			vertical-align:top;
		}
		.delete{
			width:20px;
			height:20px;
			margin-left: 200px;
		}

		#all_groups{
			margin:10px;
		}
		h2{
			width:460px;
			margin-left:auto;
			margin-right:auto;
		}
		#back{
			width:60px;
			float:right;
			display:block;
			margin-right:100px;
		}
		#name{
			width:310px;
			display:block;
			margin-left:auto;
			margin-right:auto;
			height:40px;
		}
		#sub{
			display:block;
			margin-left:auto;
			margin-right:auto;
			width:100px;
			margin-top:10px;
		}
		#group_name{
			text-transform: capitalize;
		}
		.group_name{
			text-transform: capitalize;
			margin-left:10px;
			padding:7px;

		}
		#flash_message{
			margin-left:15px;
		}
		h1{
			margin-bottom:30px;
			margin-right: auto;
			margin-left:auto;
			width:300px;
		}

	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#new_group_form").submit(function(){
				$.post($(this).attr('action'),$(this).serialize(),function(data){
					if (data.success =='true') 
					{
						$("#all_groups").prepend("<div class='group'><h4 class='group_name'><a href='/groups/view/"+data.group_id+"'>"+data.name+"</a></h4><a class='delete' href='/groups/delete/"+data.group_id+"/"+data.user_id+"'>Delete</a></div>")
					}
					else
					{
						alert(data.name)
					};

				},"json")
				return false;
			})
		})

	</script>
</head>
<body>
	<h1>Jot</h1>
	<div id='new_group'>
		<h2>Create New Group</h2>
		<a href="/homes/index" id='back'>Back</a>
		<form action='/groups/create' method='post' id='new_group_form'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='text' name='group[name]' placeholder='Enter Name' id='name'>
			<input type='hidden' name='group[user_id]' value=<%=@user.id %>>
			<input type='submit' value='Submit' id='sub' class='btn btn-primary'>
		</form>
	</div>
	<%if flash[:message] %>
			<p id='flash_message'><%=flash[:message] %></p>
		<% end%>
	<div id='all_groups'>
	
		<% if @groups%>
			<% @groups.each do |group|%>
				<div class='group'>
					<h4 class='group_name'><a href='/groups/view/<%=group.id%>'><%=group.name %></a></h4>
					<a  class='delete' href="/groups/delete/<%=group.id %>/<%= @user.id%>">Delete</a>
				</div>
			<% end%>
		<% end%>
	</div>

</body>
</html>