<html>
<head>
	<title>Groups</title>

</head>
<body id='group_all_page'>
	<div id='upper_nav'>
		<h1>JOT</h1>
		<a href="/homes/index" id='back'>Back</a>
	</div>

	

	<div id='new_group'>
		<h2>Create New Group</h2>
		<form action='/groups/create' method='post' id='new_group_form'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='text' name='group[name]' placeholder='Enter Name' id='name'>
			<input type='hidden' name='group[user_id]' value=<%=@user.id %>>
			<input type='submit' value='Submit' id='sub' class='btn btn-primary'>
		</form>
	</div>
	<%if flash[:message] %>
			<p id='flash_message'><%=flash[:message] %></p>
		<% end%>
	<div id='all_groups'>
	
		<% if @groups%>
			<% @groups.each do |group|%>
				<div class='group'>
					<h4 class='group_name'><a href='/groups/view/<%=group.id%>'><%=group.name %></a></h4>
					<a  class='delete' href="/groups/delete/<%=group.id %>/<%= @user.id%>">Delete</a>
				</div>
			<% end%>
		<% end%>
	</div>

</body>
</html>