<html>
<head>
	<title></title>
	<style type="text/css">
		.notes{
			overflow-x: scroll;
    		overflow-y: hidden;
   		 	white-space: nowrap;
		}
		.jot{
			height:300px;
			width:300px;
			border:1px solid #D8D8D8;
			display:inline-block;
			vertical-align: top;
			margin:5px;
			overflow-y:scroll;
			overflow-x:hidden;
			white-space:normal;
		}
		#remove_button{
			width:70px;
			height:30px;
			padding:5px;
		}
		#submit_1, #submit_2{
			width:70px;
			height:30px;
			padding:5px;
		}
			h2{
			text-transform: capitalize;
			width:280px;
			margin-right: auto;
			margin-left:auto;
		}
		#back{
			float:right;
			margin-right:100px;
		}
		#video{
			display:block;
			margin-left:auto;
			margin-right:auto;
			width:650px;
		}
		#all_collections{
			height:1000px;
			overflow-y:scroll;
			overflow-x:hidden;
			margin-top:50px;
		}
		.btn.btn-danger{
			width:70px;
			height:22px;
			padding:1px;
			margin-left:150px;
			margin-top:10px;
			margin-bottom:10px;
		}

		.btn.btn-success{
			width:70px;
			height:22px;
			padding:1px;
			margin-left:150px;
			margin-top:10px;
			margin-bottom:10px;
		}
		.note_content{
			margin-left:15px;
		}

	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			//Video Player
			$("a").click(function(event){
				id_name = $(this).attr("id");
				if(id_name[0]=='v')
				{
					// video_code = id_name.slice(1);
					var st_index_start = id_name.indexOf("+");
					var st_index_end = id_name.indexOf("_");
					var start_time = id_name.substring(st_index_start+1,st_index_end);
					var last_index = id_name.length
					var video_code = id_name.substring(st_index_end+1,last_index)
					$("#video").html("<iframe id='ytplayer' type='text/html' width='640' height='390' src=http://www.youtube.com/embed/"+video_code+"?autoplay=1&start="+start_time+"></iframe>");
					return false;
				}		
			})
		//add and remove button
		$("form").submit(function(){
			$.post($(this).attr('action'),$(this).serialize(),function(data){
				if(data.action =='add' && data.message=='success')
				{
					// add remove button
					// add gn_note
					$("#form_"+data.note_id).html("<form id='remove_"+data.note_id+"' action='/groupnotes/delete' method='post'><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><input type='hidden' name='group_note[note_id]' value="+data.note_id+"><input type='hidden' name='group_note[group_id]' value="+data.group_id+"><input type='hidden' name='group_note[user_id]' value="+data.user_id+"><input type='hidden' name='group_note[gnote]' value="+data.gn_id+"><input type='submit' value='Remove' id='remove_button' class='btn btn-danger'></form>");
				}
				else if(data.action=='remove' && data.message=='success')
				{
					$("#form_"+data.note_id).html("<form id='add_1_"+data.note_id+"' action='/groupnotes/create' method='post'><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><input type='hidden' name='group_note[note_id]' value="+data.note_id+"><input type='hidden' name='group_note[group_id]' value="+data.group_id+"><input type='hidden' name='group_note[user_id]' value="+data.user_id+"><input type='submit' value='Add' id='submit_1' class='btn btn-success'></form>");
				}
				else{
					alert("Error Occurred");
				}
			},"json");
			return false;
		})
	})	// document.ready 	
	// dynamic button

	$(document).on('submit','form',function(){
		$.post($(this).attr('action'),$(this).serialize(),function(data){
			if(data.action =='add' && data.message=='success')
			{
				// add remove button
				$("#form_"+data.note_id).html("<form id='remove_"+data.note_id+"' action='/groupnotes/delete' method='post'><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><input type='hidden' name='group_note[note_id]' value="+data.note_id+"><input type='hidden' name='group_note[group_id]' value="+data.group_id+"><input type='hidden' name='group_note[user_id]' value="+data.user_id+"><input type='hidden' name='group_note[gnote]' value="+data.gn_id+"><input type='submit' value='Remove' id='remove_button' class='btn btn-danger'></form>");
			}
			else if(data.action=='remove' && data.message=='success')
			{
				$("#form_"+data.note_id).html("<form id='add_1_"+data.note_id+"' action='/groupnotes/create' method='post'><input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'><input type='hidden' name='group_note[note_id]' value="+data.note_id+"><input type='hidden' name='group_note[group_id]' value="+data.group_id+"><input type='hidden' name='group_note[user_id]' value="+data.user_id+"><input type='submit' value='Add' id='submit_1' class='btn btn-success'></form>");
			}
			else{
				alert("Error Occurred");
			}
		},"json");
		return false;
	})
		

	</script>

</head>
<body>
	<h2>Your Notes</h2>
	<a href="/groups/view/<%=@group_id %>" id='back'>Back</a>
	<% if flash[:message]%>
		<p><%=flash[:message]%></p>
	<% end%>
	<div id='video'></div>
	<div id='all_collections'>
		<% @collections.each do |collection|%>
			<div class='notes'>
				<h4><%= collection.name%></h4>
					<%@notes.each do |note| %>
						<%if note.collection_id == collection.id %>
							<div class='jot'>
									<% if @group_notes !=[]%>
										<%@group_notes.each  do |gn|%> 
											<% if gn.note_id == note.id%>
											<div id="form_<%=note.id %>">
												<form id='remove_<%=note.id %>' action="/groupnotes/delete" method='post'>
													<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
													<input type='hidden' name='group_note[note_id]' value=<%=note.id %>>
													<input type='hidden' name='group_note[group_id]' value=<%= @group_id%>>
													<input type='hidden' name='group_note[user_id]' value=<%=@user.id %>>
													<input type='hidden' name='group_note[gnote]' value=<%=gn.id %>>
													<input type='submit' value='Remove' id='remove_button' class='btn btn-danger'>
												</form>
											</div>
										<% end%>
										<%end %>	
										
											<% @all_notes.each do |nn|%>
												<% if nn == note.id %>
													<div id="form_<%=note.id %>">
														<form id='add_1_<%=note.id %>' action="/groupnotes/create" method='post'>
														<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
														<input type='hidden' name='group_note[note_id]' value=<%=note.id %>>
														<input type='hidden' name='group_note[group_id]' value=<%= @group_id%>>
														<input type='hidden' name='group_note[user_id]' value=<%=@user.id %>>
														<input type='submit' value='Add' id='submit_1' class='btn btn-success'>
													</form>
												</div>
												
												<%end %>
											<%end %>
									<%else%>
									<div id="form_<%=note.id %>">
										<form id='add_2_<%= note.id%>' action="/groupnotes/create" method='post'>
											<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
											<input type='hidden' name='group_note[note_id]' value=<%=note.id %>>
											<input type='hidden' name='group_note[group_id]' value=<%= @group_id%>>
											<input type='hidden' name='group_note[user_id]' value=<%=@user.id %>>
											<input type='submit' value='Add' id='submit_2' class='btn btn-success'>
										</form>
									</div>			
								<% end%>
								<p class='note_content'><a href='' id="v+<%=note.start_time%>_<%=note.url %>"><%=note.notes %></a></p>
							</div>
						<% end%>
					<%end%>
				</div>
		<% end%>	
	</div>

</body>
</html>