<html>
<head>
	<title></title>
	
</head>
<body id='groups_view_page'>
	<div id='upper_nav'>
		<h1>Jot</h1>
		<a href="/groups/all" id='back'>Back</a>
	</div>
	
	<a href="/groups/select/<%=@group.id%>" class='btn btn-success'>Add Note</a>
	
<!-- 	<h3>Current Notes</h3> -->
	<h2 id='group_name_view'><%=@group.name %></h2>
	<div id='player'>
		<div id='video'></div>
	</div>
		<% if flash[:message]%>
			<p><%=flash[:message] %></p>
		<% end%>
	<div id='current_notes'>
		<% @group_notes.each do |gn|%>
			<div class='note'>
				<form id='remove' action="/groupnotes/delete" method='post'>
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type='hidden' name='group_note[group_id]' value=<%= @group.id%>>
					<input type='hidden' name='group_note[user_id]' value=<%=@user.id %>>
					<input type='hidden' name='group_note[gnote]' value=<%=gn.id %>>
					<input type='hidden' name='group_note[view]' value='true'>
					<input type='submit' value='Remove' id='remove_button' class='btn btn-danger'>
				</form>
				<p><a href="" id="v+<%=gn.note.start_time%>_<%=gn.note.url %>"><%= gn.note.notes%></a></p> 
			</div>
		<% end%>
	</div>
</body>
</html>