<html>
<head>
	<title></title>
	

	<script type="text/javascript">
		$(document).ready(function(){
			$("a").click(function(event){
				id_name = $(this).attr("id");
				if(id_name[0]=='v')
				{
					// video_code = id_name.slice(1);
					var st_index_start = id_name.indexOf("+");
					var st_index_end = id_name.indexOf("_");
					var start_time = id_name.substring(st_index_start+1,st_index_end);
					var last_index = id_name.length
					var video_code = id_name.substring(st_index_end+1,last_index)
					$("#video").html("<iframe id='ytplayer' type='text/html' width='640' height='390' src=http://www.youtube.com/embed/"+video_code+"?autoplay=1&start="+start_time+"></iframe>");
					return false;
				}	
			})
		})

	</script>
</head>
<body>
	<div id='upper_nav'>
		<h1>Jot</h1>
		<a href="/groups/all" id='back'>Back</a>
	</div>
	
	<a href="/groups/select/<%=@group.id%>" class='btn btn-success'>Add Note</a>
	
<!-- 	<h3>Current Notes</h3> -->
	<h2 id='group_name_view'><%=@group.name %></h2>
	<div id='player'>
		<div id='video'></div>
	</div>
		<% if flash[:message]%>
			<p><%=flash[:message] %></p>
		<% end%>
	<div id='current_notes'>
		<% @group_notes.each do |gn|%>
			<div class='note'>
				<form id='remove' action="/groupnotes/delete" method='post'>
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type='hidden' name='group_note[group_id]' value=<%= @group.id%>>
					<input type='hidden' name='group_note[user_id]' value=<%=@user.id %>>
					<input type='hidden' name='group_note[gnote]' value=<%=gn.id %>>
					<input type='hidden' name='group_note[view]' value='true'>
					<input type='submit' value='Remove' id='remove_button' class='btn btn-danger'>
				</form>
				<p><a href="" id="v+<%=gn.note.start_time%>_<%=gn.note.url %>"><%= gn.note.notes%></a></p> 
			</div>
		<% end%>
	</div>
</body>
</html>