<html>
<head>
	<title></title>
	<style type="text/css">
		
	</style>
	
</head>
<body id='saves_all'>
	<div id='upper_nav'>
		<h1>All Collections</h1>
		<a href="/homes/index" id='back'>Home</a>
	</div>
	
	<div id='collection_type'>
		<a href='/collections/all'>Your Collections</a>
		<p >Subscribed Collections</p>
	</div>
	<div id='video_section'>
		<div id='video'></div>

	</div>
	<%if flash[:message] %>
		<p><%=flash[:message] %></p>
	<% end%>
	<div id='all_collections'>
		<%@collections.each do |collection| %>
			<div class='collection'>
				<div class='upper_options' id="uo_<%=collection.id %>">
					<h4><a href="/saves/show/<%=collection.id %>" class='title'><%= collection.name%></a></h4>
					<a href="/saves/destroy/<%=collection.id %>/<%=@user.id %>" class='delete'>Delete</a>
				</div>
				<div id="pub<%=collection.id %>" class='pub_info'>
					<form action='/tags/share' method='post'>
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type='text' name='tag[tag_name]' placeholder='Enter Tags: #hello #nike' class='tag_input'>
						<input type='hidden' name='tag[collection_id]' value=<%= collection.id%>>
						<input type='submit' value='Publish'>
					</form>
				</div>
				<div class='notes'>
					<% @notes.each do |note|%>
						<%if note.collection_id == collection.id %>
							<div class='jot'>
								<div class='jot_info'>
									<p class='time'>Time: <%=note.time_stamp_h%>H <%=note.time_stamp_m%> M <%= note.time_stamp_s%> S</p>
									<button id='v+<%=note.start_time%>_<%=note.url %>' class='btn btn-link'>Play</button>
								</div>
								<p class='note_content'><%=note.notes %></p>
							</div>	

						<% end%>
					<%end %>
				</div>
			</div>

		<%end %>

	</div>
</body>
</html>