<html>
<head>
	<title></title>
	<style type="text/css">

		#vid_notes_tool{
			display:block;
			margin-left: auto;
			margin-right:auto;
			width:1400px;
		}
		#video_container{
			display:block;
			margin-left: auto;
			margin-right:auto;
			width:40em;
		}
		#nav h2{
			display:inline-block;
			width:500px;
		}
		#notes_flow{
			display:block;
			height:350px;
			border:1px dashed #909090;
			vertical-align: top;
			margin-bottom:10px;
			margin-top:10px;
			overflow-x: scroll;
   		    overflow-y: hidden;
    		white-space:nowrap;

		}
		#time_stamp1, #time_stamp2, #time_stamph{
			display:inline-block;
			width:100px;
		}
		#ts{
			display:block;
			margin-left:70px;
			margin-top:5px;
			margin-bottom:5px;
		}
		

		#new_notes{
			display:inline-block;
			vertical-align: top;
			border:1px solid #E8E8E8;
			margin-left:70px;
			margin-top:60px;
		}
		#new_notes textarea{
			width:500px;
			height:300px;
			border:1px solid #E8E8E8;
		}
		#submit_note{
			display:block;
			width:100px;
			margin-left: auto;
			margin-right:auto;
			margin-bottom:5px;
		}
		#new_notes h4{
			display:block;
			width:150px;
			margin-right:auto;
			margin-left:auto;
		}
		.note{
			height:300px;
			width:310px;
			border:1px solid #909090;
			display:inline-block;
			vertical-align: top;
			margin:5px;
			overflow-y:scroll;
			overflow-x:hidden;
			white-space:normal;
			margin-top:20px;

		}
		.note p{
			margin:5px;
		}
		.note_time{
			display:block;
		}
	</style>
	<script type="text/javascript">

	</script>
</head>
<body id="saves_show">
	<div id='upper_nav'>
		<h1>JOT</h1>
		<%= link_to 'Back', :back, :class=>"back" %>
	</div>
	<h2 id='saved_show_collection_header'><%=@collection.name %></h2>
<div id='top_container'>

	<div id='vid_notes_tool'>
		<div id='video_container'>
			
			<div id='video'>
				<iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%=@collection.url%>?autoplay=1"></iframe>
			</div>
		</div>

	<div id='notes_flow'>
		<% @existing_notes.each do |note|%>
			<div class='note'>
				<p class='note_time'><%=note.time_stamp_h %> H <%=note.time_stamp_m %> M <%=note.time_stamp_s%> S </p>
				<a class='note_content' href='' id="v+<%=note.start_time%>_<%=note.url %>"><%=note.notes %></a>
			</div>
		<% end%>	
	</div>
</div>

</body>
</html>