<html>
<head>
	<title></title>
	
</head>
<body>
	<div id='upper'>
		<h1>JOT</h1>
		<a href="/sessions/destroy" id='logoff'>Logoff</a>
	</div>
	
	<div id='options'>
		<button class='btn btn-success' id='new_note_button'>New Note</button>
		<a href="/collections/all" class='btn btn-success'>Collection</a>
		<a href="/groups/all" class='btn btn-success'>Groups</a>
	</div>
	
	<% if flash[:message]%>
		<div id='error_messages'>
			<h4>New Notes Messages:</h4>
				<%flash[:message].each do |f| %>
			<p class='error_messages'><%=f%></p>
		<% end%>
		</div>

	<%end %>
	<div id='new_note'>
		<h2>Add New Notes</h2>
		<form action='/collections/create' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='text' name='collection[url]' placeholder='Enter Youtube Video Code' class='new_input'>
			<input type='hidden' name='collection[user_id]' value=<%=@user.id%>>
			<input type='text' name='collection[name]' placeholder='Enter Collection Name' class='new_input'>
			<input type='submit' value='Submit' class='btn btn-success' id='note_submit'>
		</form>
	</div>
	
	<div id='subscribe'>
		<h2>Discover</h2>
		<a href="/your_tags/new" class='btn btn-info' id='subscribe_button'>Subscribe to Tags</a>
		<div id='stream'>
			<%@suggestions.each do |s| %>
				<%if s.user_id !=@user.id %>
					<div class='collection' id="coll<%=s.id %>">
						<a href="/saves/show/<%=s.id %>"><%=s.name %></a>
						<button class='btn btn-primary' id="s<%=s.id%>_<%=@user.id %>+" >Add to Notes</button>
					</div>
				<%end %>
			<% end%>
		</div>
	</div>
</body>
</html>